body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div {
    margin-bottom: 1em;
}

label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}

input {
    border: 1px solid #cccccc;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}



.error-message {
    color: red;
    font-size: 0.875em;
    display: inline-block;
    position: relative;
    cursor: help;
    border-bottom: 1px dotted #000; /* Just to indicate there's a tooltip */
}
